h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
    background-color: aliceblue;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
    border-radius: 5rem;

}

body{
    color: #313131;
    background-image: linear-gradient(to right, #d0e9ff 0%, #00feb2 100%);
}
